In [10]:
import os 
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt 
import seaborn as sns

In [49]:
# Set a path to the data
path = 'data/'
extension = '.csv'

In [50]:
# Create the files
files = [file for file in os.listdir(path) if file.endswith(extension)]

In [51]:
# Make the dataframes
dfs = []
for file in files:
    df = pd.read_csv(os.path.join(path, file))
    dfs.append(df)

/var/folders/t2/p3yp6v4544jds05t77dbbtq40000gp/T/ipykernel_37840/3821641988.py:4: DtypeWarning: Columns (179,180,182,183,189,190,193,194,197,198,203,204,205,206,213,214,218,219,220,222,224,226,248,249,253,254,255,260,262,263,266,267,268,269,283,284,301) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(os.path.join(path, file))
/var/folders/t2/p3yp6v4544jds05t77dbbtq40000gp/T/ipykernel_37840/3821641988.py:4: DtypeWarning: Columns (179,180,182,183,189,190,193,194,197,198,203,204,205,206,218,219,220,233,234,235,236,237,238,253,254,255,260,262,263,283,284,301) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(os.path.join(path, file))
/var/folders/t2/p3yp6v4544jds05t77dbbtq40000gp/T/ipykernel_37840/3821641988.py:4: DtypeWarning: Columns (45,179,180,182,183,189,190,193,194,197,198,203,204,205,206,209,210,218,219,220,233,234,235,236,237,238,248,249,253,254,255,260,262,263,283,284,301) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(os.path.join(path, file))

In [52]:
df = pd.concat(dfs, ignore_index=True)

In [53]:
df = df.reset_index(drop=True)

In [54]:
# print the size of the dataframe
print(df.shape)

(144888, 372)

In [55]:
# show the top 10 results
df.head(10)

,play_id,game_id,old_game_id,home_team,away_team,season_type,week,posteam,posteam_type,defteam,...,out_of_bounds,home_opening_kickoff,qb_epa,xyac_epa,xyac_mean_yardage,xyac_median_yardage,xyac_success,xyac_fd,xpass,pass_oe
0,1,2020_01_ARI_SF,2020091311,SF,ARI,REG,1,NaN,NaN,NaN,...,0,1,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,39,2020_01_ARI_SF,2020091311,SF,ARI,REG,1,SF,home,ARI,...,0,1,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,54,2020_01_ARI_SF,2020091311,SF,ARI,REG,1,SF,home,ARI,...,0,1,1.294838,0.503370,4.275047,2.0,0.619306,0.239695,0.515058,48.494154
3,93,2020_01_ARI_SF,2020091311,SF,ARI,REG,1,SF,home,ARI,...,0,1,0.857214,NaN,NaN,NaN,NaN,NaN,0.413357,-41.335732
4,118,2020_01_ARI_SF,2020091311,SF,ARI,REG,1,SF,home,ARI,...,0,1,-0.454665,NaN,NaN,NaN,NaN,NaN,0.446920,-44.692025
5,143,2020_01_ARI_SF,2020091311,SF,ARI,REG,1,SF,home,ARI,...,0,1,-1.780660,NaN,NaN,NaN,NaN,NaN,0.681858,-68.185812
6,165,2020_01_ARI_SF,2020091311,SF,ARI,REG,1,SF,home,ARI,...,0,1,-0.538702,1.054806,4.119796,2.0,0.837606,0.374325,0.971992,2.800822
7,197,2020_01_ARI_SF,2020091311,SF,ARI,REG,1,SF,home,ARI,...,0,1,2.147877,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,226,2020_01_ARI_SF,2020091311,SF,ARI,REG,1,ARI,away,SF,...,0,1,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,245,2020_01_ARI_SF,2020091311,SF,ARI,REG,1,ARI,away,SF,...,0,1,-0.414011,0.715011,4.777031,3.0,0.676852,0.231105,0.442755,55.724481